@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Tiny5&display=swap");
.hero {
  width: 100%;
  min-height: 740px;
  background-color: #0B3954;
  position: relative;
}
.hero .hero-img_bg {
  width: 90%;
  height: 90%;
  position: absolute;
  background-image: url(../../assets/hero/big_screen_hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 5%;
  left: 5%;
  border-radius: 16px;
}
.hero .hero-img_bg > h5 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(clamp(1.1rem, 2.5vw, 2rem) / 2, clamp(1.1rem, 2.5vw, 2rem), clamp(1.1rem, 2.5vw, 2rem) * 2);
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%;
}
.hero .hero-img_bg > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(clamp(2rem, 5vw, 4rem) / 2, clamp(2rem, 5vw, 4rem), clamp(2rem, 5vw, 4rem) * 2);
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 10%;
}
.hero .hero-img_bg .hero_buttons {
  display: flex;
  gap: 30px;
  position: relative;
  top: 60%;
  left: 10%;
}
.hero .hero-img_bg .hero_buttons > :nth-child(1) {
  background: #FFB128;
  color: #fff;
  padding: 15px 30px;
  border-radius: 45px;
  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.hero .hero-img_bg .hero_buttons > :nth-child(1):hover {
  background: #fff;
  color: #FFB128;
  transform: scale(1.02);
}
.hero .hero-img_bg .hero_buttons > :nth-child(1):active {
  transform: scale(0.98);
}
.hero .hero-img_bg .hero_buttons > :nth-child(1)::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 200px;
  background: #fff;
  transform: translateY(-45%) skew(25deg) scale(0);
  left: -5%;
  transition: transform 300ms ease-in-out;
  z-index: 0;
}
.hero .hero-img_bg .hero_buttons > :nth-child(1):hover::after {
  transform: translateY(-45%) skew(25deg) scale(1);
}
.hero .hero-img_bg .hero_buttons > :nth-child(1) span {
  position: relative;
  z-index: 1;
}
.hero .hero-img_bg .hero_buttons > :nth-child(2) {
  background: #fff;
  color: #FFB128;
  padding: 15px 30px;
  border-radius: 45px;
  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFB128;
}
.hero .hero-img_bg .hero_buttons > :nth-child(2):hover {
  background: #FFB128;
  color: #fff;
  transform: scale(1.02);
}
.hero .hero-img_bg .hero_buttons > :nth-child(2):active {
  transform: scale(0.98);
}
.hero .hero-img_bg .hero_buttons > :nth-child(2)::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 200px;
  background: #FFB128;
  transform: translateY(-45%) skew(25deg) scale(0);
  left: -5%;
  transition: transform 300ms ease-in-out;
  z-index: 0;
}
.hero .hero-img_bg .hero_buttons > :nth-child(2):hover::after {
  transform: translateY(-45%) skew(25deg) scale(1);
}
.hero .hero-img_bg .hero_buttons > :nth-child(2) span {
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=hero.css.map */