$blue: #7E98A5;
$darkred: #484444;
$lightred: #9e888a;
$red: #9e9a9b;
$gold: #aeaba4;
$silver: #E3E8E7;
$darksilver: #ccd0cf;


$size: 5rem;

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brave-king{
    position: relative;



.crown {
    position: absolute;
    top: -308px;
    left: 39.5px;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 4.5454545455rem;
    overflow: hidden;
    z-index: 1;
	
	&:after {
		content: '';
		position: absolute;
		bottom: $size/-8;
		left: 0;
		width: 100%;
		height: $size/2;
		background-color: gold;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
	}
	
	.point {
		position: absolute;
		background-color: gold;
		transform: translate(-50%,50%) rotate(45deg) skew(30deg,30deg);
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: $size/5;
			height: $size/5;
			border-radius: $size/5;
			background-color: gold;
			transform: translate(-50%,-50%) skew(-30deg,-30deg);
		}
		
		&:first-child,
		&:last-child {
			top: $size/2;
			width: $size;
			height: $size;
		}
		
		&:nth-child(2),
		&:nth-child(4) {
			top: $size/3;
			width: $size;
			height: $size;
		}
		
		&:nth-child(3) {
			top: $size/4;
			width: $size;
			height: $size;
		}
		
		&:first-child {
			left: 0;
		}
		
		&:nth-child(2) {
			left: 25%;
		}
		
		&:nth-child(3) {
			left: 50%;
		}
		
		&:nth-child(4) {
			left: 75%;
		}
		
		&:last-child {
			left: 100%;
		}
	}
}

    .brave-king_head{
        width: 80px;
        height: 100px;
        background: rgb(245, 182, 106);
        border-radius: 40%;
        position: absolute;
        top: -300px;

        .king-head_eye{
            width: 13px;
            height: 8px;
            background: #f3e8d2; 
            border-radius: 40%;

            .eye_ball{
                width: 5px;
                height: 5px;
                background: #000;
                border-radius: 50%;
                position: absolute;
                right: 4px;
                top: 2px;
            }
        }

        >:nth-child(1){
            position: absolute;
            top: 35px;
            right: 50px;
        }

        >:nth-child(2){
            position: absolute;
            top: 35px;
            right: 14px;
        }

        .nose{
            width: 10px;
            height: 26px;
            position: absolute;
            border-radius: 30%;
            top: 38px;
            right: 33px;
            background: rgb(250, 158, 45);
        }

        .mouth{
            width: 44px;
            height: 6px;
            position: absolute;
            top: 75px;
            right: 17px;
            background: #fff;
            border-radius: 0 0 50px 50px;
        }

        .ears{
            width: 10px;
            height: 20px;
            background: rgb(248, 155, 41);
            position: absolute;
            border-radius: 36%
        }

        >:nth-child(5){
            top: 36px;
            right: -8px;
        }

        >:nth-child(6){
            top: 36px;
            right: 78.5px;
        }
    }

    .torso {
        position: absolute;
        height: 170px;
        width: 240px;
        left: -81px;
        top: -200px;
        border-radius: 30px 30px 0 0;
        background: #464444;
      }
      .left-shoulder {
        position: absolute;
        height: 50px;
        width: 90px;
        left: -15px;
        border-radius: 50px 0 0 0;
        background: $lightred;
      }
      .right-shoulder {
        position: absolute;
        height: 50px;
        width: 90px;
        left: 165px;
        border-radius: 0 50px 0 0;
        background: $lightred;
      }
      .chest {
        position: absolute;
        height: 150px;
        width: 180px;
        left: 30px;
        -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
      clip-path: polygon(0 0, 50% 100%, 100% 0);
        background: $lightred;
      }
      .logo {
        position: absolute;
        height: 30px;
        width: 30px;
        left: 70px;
        top: 30px;
        border: 5px solid #7ea39a;
        border-radius: 14%;
        background: #35d8b8;
      }
      .left-cut {
        position: absolute;
        height: 80px;
        width: 20px;
        left: 45px;
        top: 100px;
        border-radius: 0 50px 0 0;
        background: $blue;
      }
      .right-cut {
        position: absolute;
        height: 80px;
        width: 20px;
        left: 175px;
        top: 100px;
        border-radius: 50px 0 0 0;
        background: $blue;
      }
      .left-glove {
        position: absolute;
        height: 120px;
        width: 60px;
        left: -96px;
        top: -30px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%);
        background: #9f9495;
      }
      .left-hand {
        position: absolute;
        height: 35px;
        width: 35px;
        left: -65px;
        top: 84px;
        background: #bdb8b8;
        border-radius: 50%;
      }
      .right-glove {
        position: absolute;
        height: 120px;
        width: 60px;
        left: 114px;
        top: -30px;
        -webkit-clip-path: polygon(0 0, 100% 0, 35% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 35% 100%, 0 100%);
        background: #9f9495;
      }
      .right-hand {
        position: absolute;
        height: 35px;
        width: 35px;
        left: 107px;
        top: 85px;
        background: #bdb8b8;
        border-radius: 50%;
      }
      .bottom {
        position: absolute;
        height: 70px;
        width: 110px;
        left: -16px;
        top: -30px;
        background: #333232;
      }
      .pants {
        position: absolute;
        height: 50px;
        width: 110px;
        top: 20px;
        background: $darkred;
        -webkit-clip-path: polygon(100% 0, 100% 40%, 55% 100%, 40% 100%, 0 40%, 0 0);
      clip-path: polygon(100% 0, 100% 40%, 55% 100%, 45% 100%, 0 40%, 0 0);
        z-index: 2;
      }
      .belt-1 {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 20px;
        background: $gold;
        -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
      clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
      }
      .belt-2 {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 70px;
        -webkit-clip-path: polygon(20% 1%, 100% 0%, 80% 100%, 0% 100%);
      clip-path: polygon(20% 1%, 100% 0%, 80% 100%, 0% 100%);
        background: $gold;
        
      }
      .left-leg {
        position: absolute;
        height: 200px;
        width: 30px;
        left: 2px;
        top: 40px;
        border-bottom: 100px solid #2c2a2a;
        background: #000000;
      }
      .left-shoe {
        position: absolute;
        height: 15px;
        width: 50px;
        left: -30px;
        top: 285px;
        border-radius: 50px 0 0 0;
        background: $lightred;
      }
      .right-leg {
        position: absolute;
        height: 200px;
        width: 30px;
        left: 45px;
        top: 40px;
        border-bottom: 100px solid #2c2a2a;
        background: #000000;
      }
      .right-shoe {
        position: absolute;
        height: 15px;
        width: 50px;
        left: 10px;
        top: 285px;
        border-radius: 0 50px  0 0;
        background: $lightred;
      }
      .left-thigh {
        position: absolute;
        height: 100px;
        width: 50px;
        left: -16px;
        top: 40px;
        border-bottom: 10px solid #5d240e;
        border-radius: 0 0 0 50%;
        background: #666061; 
      }
      .right-thigh {
        position: absolute;
        height: 100px;
        width: 50px;
        left: 44px;
        top: 40px;
        border-radius: 0 0 50% 0;
        border-bottom: 10px solid #5d240e;
        background: #666061;
      }
}
