*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{

}

header{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    box-shadow: 3px 3px 3px 3px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}

li{
    padding: 20px;
}

.logo{
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
}