@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Tiny5&display=swap");
aside {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}
aside .aside-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: auto;
  background: #FFB128;
  border-radius: 35px;
}
aside .aside-content figure {
  width: 85%;
  margin-top: -30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
aside .aside-content figure figcaption > span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  display: block;
  padding: 20px 0;
}
aside .aside-content figure figcaption h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 30px;
}
aside .aside-content figure figcaption > button {
  background: #0B3954;
  color: #fff;
  padding: 15px 30px;
  border-radius: 45px;
  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
aside .aside-content figure figcaption > button:hover {
  background: #fff;
  color: #0B3954;
  transform: scale(1.02);
}
aside .aside-content figure figcaption > button:active {
  transform: scale(0.98);
}
aside .aside-content figure figcaption > button::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 200px;
  background: #fff;
  transform: translateY(-45%) skew(25deg) scale(0);
  left: -5%;
  transition: transform 300ms ease-in-out;
  z-index: 0;
}
aside .aside-content figure figcaption > button:hover::after {
  transform: translateY(-45%) skew(25deg) scale(1);
}
aside .aside-content figure figcaption > button span {
  position: relative;
  z-index: 1;
}
aside .aside-content .aside-footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .aside-content .aside-footer .aside-footer_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
aside .aside-content .aside-footer .aside-footer_item > span {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  display: block;
  padding: 20px;
}
aside .aside-content .aside-footer .aside-footer_item > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0;
}
aside .aside-content .aside-footer .aside-footer_item > div > p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 20px;
}
aside .aside-content .aside-footer .aside-footer_item > div > span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
aside .aside-partners {
  width: 100%;
  height: auto;
  background: #0B3954;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}
aside .aside-partners figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 80%;
}
aside .aside-partners figure .partners-description {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  width: 40%;
  padding: 20px;
}
aside .aside-partners figure .partners-description > p {
  padding: 20px;
  width: 110%;
}
aside .aside-partners figure .partners-description .description-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
aside .aside-partners figure .partners-description .description-btn > a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFB128;
}
aside .aside-partners figure .partners-description .description-btn > button {
  background: #FFB128;
  color: #fff;
  padding: 15px 30px;
  border-radius: 45px;
  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
aside .aside-partners figure .partners-description .description-btn > button:hover {
  background: #1971a3;
  color: #fff;
  transform: scale(1.02);
}
aside .aside-partners figure .partners-description .description-btn > button:active {
  transform: scale(0.98);
}
aside .aside-partners figure .partners-description .description-btn > button::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 200px;
  background: #1971a3;
  transform: translateY(-45%) skew(25deg) scale(0);
  left: -5%;
  transition: transform 300ms ease-in-out;
  z-index: 0;
}
aside .aside-partners figure .partners-description .description-btn > button:hover::after {
  transform: translateY(-45%) skew(25deg) scale(1);
}
aside .aside-partners figure .partners-description .description-btn > button span {
  position: relative;
  z-index: 1;
}
aside .aside-partners figure .avatar-wrapper :nth-child(1) {
  position: relative;
  left: 70px;
  width: 150px;
}
aside .aside-partners figure .avatar-wrapper :nth-child(2) {
  width: 300px;
  margin-top: -100px;
}
aside .aside-partners .captions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
aside .aside-partners .captions-wrapper > span {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
aside .aside-partners .captions-wrapper > span > :nth-child(1) {
  background: #FFB128;
  width: 20px;
  height: 3px;
  border-radius: 40px;
}
aside .aside-partners .captions-wrapper > span > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
aside .aside-partners .captions-wrapper > span > :nth-child(2) > :nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
aside .aside-partners .captions-wrapper > span > :nth-child(2) > :nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
aside .partners-slider {
  width: 87%;
}
aside .partners-slider .logos {
  padding: 60px 0;
  overflow: hidden;
}
aside .partners-slider .logos .logos-slide {
  display: flex;
}
aside .partners-slider .logos .logos-slide > img {
  height: 60px;
  margin: 0 40px;
  flex-shrink: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.aside_bottom {
  width: 80%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
}
.aside_bottom > :nth-child(1) {
  width: 40%;
  height: 100%;
  background: #FFB128;
  padding: 60px 50px;
}
.aside_bottom > :nth-child(1) > p > :nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.aside_bottom > :nth-child(1) > p > :nth-child(2) {
  color: #2A2B39;
}
.aside_bottom > :nth-child(2) {
  width: 60%;
  height: 100%;
  gap: 20px;
  background: #0B3954;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.aside_bottom > :nth-child(2) input {
  flex-shrink: 0;
  width: 70%;
  background: #174B69;
  color: #fff;
  border: none;
  border-radius: 8px;
  height: 48px;
  padding: 0 15px;
  font-size: 16px;
}
.aside_bottom > :nth-child(2) input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.aside_bottom > :nth-child(2) input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.aside_bottom > :nth-child(2) > button {
  background: #FFB128;
  color: #fff;
  padding: 15px 30px;
  border-radius: 45px;
  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.aside_bottom > :nth-child(2) > button:hover {
  background: #1971a3;
  color: #fff;
  transform: scale(1.02);
}
.aside_bottom > :nth-child(2) > button:active {
  transform: scale(0.98);
}
.aside_bottom > :nth-child(2) > button::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 200px;
  background: #1971a3;
  transform: translateY(-45%) skew(25deg) scale(0);
  left: -5%;
  transition: transform 300ms ease-in-out;
  z-index: 0;
}
.aside_bottom > :nth-child(2) > button:hover::after {
  transform: translateY(-45%) skew(25deg) scale(1);
}
.aside_bottom > :nth-child(2) > button span {
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=aside.css.map */