@mixin display_prop($flex, $content, $align){
    display: $flex;
    justify-content: $content;
    align-items: $align;
}

@mixin font_prop($family, $size, $weight, $color){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

//colors
$main-bg: #fff;
$primary-orange: #FFB128;
$dark-blue: #0B3954;
$darker-blue: #2A2B39;
$grey-font: #5C676D;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    background: $main-bg;
    
    a{
    color: $dark-blue;
    }

    nav{
        @include display_prop(flex, space-between, center);
        min-height: 60px;
        padding: 24px 0;

        
        ul{
            @include display_prop(flex, space-between, center);

            li{
                list-style: none;
            }
        }
    }
}